@{
    ViewData["Title"] = "SalonTrack Admin Panel";
}

<div class="container py-5">
    <h2 class="text-center section-title">💇‍♀️ Xoş Gəlmisiniz! - Admin Panel</h2>

    <div class="row g-4 justify-content-center">
        <div class="col-sm-6 col-md-3">
            <div class="card text-white  shadow text-center h-100">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">📈 Gəlirlər</h4>
                    <p class="card-text">Salon gəlirlərinə bax və əlavə et.</p>
                    <a href="/Income/Index" class="btn btn-outline-light mt-auto">Bax</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card text-white shadow text-center h-100">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">💸 Xərclər</h4>
                    <p class="card-text">Salonun xərclərini idarə et.</p>
                    <a href="/Expense/Index" class="btn btn-outline-light mt-auto">Bax</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card text-white shadow text-center h-100">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">📝 Görülən işlər</h4>
                    <p class="card-text">Tapşırıqları izləyin və əlavə edin.</p>
                    <a href="/ServiceTask/Index" class="btn btn-outline-light mt-auto">Bax</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card text-white  shadow text-center h-100">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">💇‍♀️ Servislər</h4>
                    <p class="card-text">Yeni servisləri əlavə et.</p>
                    <a href="/Service/Index" class="btn btn-outline-light mt-auto">Bax</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card text-white shadow text-center h-100">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">🛡️ Rol İdarəetməsi</h4>
                    <p class="card-text">Yeni rol yarat və ya istifadəçi təyin et.</p>
                    <a href="/Role/Index" class="btn btn-outline-light mt-auto">Bax</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card text-white shadow text-center h-100">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">👥 İstifadəçilər</h4>
                    <p class="card-text">İstifadəçiləri yarat, gəlirinə bax və sil.</p>
                    <a href="/User/Index" class="btn btn-outline-light mt-auto">Bax</a>
                </div>
            </div>
        </div>
    </div>
</div>
